/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app{
  
    /* background-color: gray;    Gray background color */
    min-height: 100vh;         /* Minimum height of 100% of the viewport height */
  
  
}
.app1{
  display: flex;
  width: 100%;
}
.app2{
  width: 70%;                 /* Width 70% */
  margin-left: auto;          /* Auto left margin for horizontal centering */
  margin-right: auto;         /* Auto right margin for horizontal centering */
  margin-left: max(5vw, 25px); /* Maximum of 5% viewport width or 25px left margin */
  margin-top: 2rem;           /* 32px top margin */
  margin-bottom: 2rem;        /* 32px bottom margin */
  /* color: #4B5563;             Medium gray text color (#4B5563 corresponds to Tailwind's gray-600) */
  font-size: 1rem;            /* 16px font size */
}
