@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

body {
  margin: 0;
  font-family: Outfit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select,input,textarea{
  border:1px solid #c2c2c2 ;
  outline-color: #c586A5;
  border: radius 4px; ;
}

a.active{
  background-color: #ffebf5; 
  border-color: #c586A5;
}